// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #9b90ff !default;
$header-bg-color-secondary: #d690ff !default;

// Text
$section-headings-color: #5d55a3 !default;
$body-text-color: #666071 !default;
$body-link-color: #262152 !default;
$blockquote-text-color: #8b8198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #625682 !default;

// Borders
$border-color: #eddcf0 !default;
$table-border-color: #ebe9ec !default;
$hr-border-color: #f1eff1 !default;
