// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #9b90ff !default;
$header-bg-color-secondary: #d690ff !default;

// Text
$section-headings-color: #AAA2F0 !default;
$body-text-color: #dad8de !default;
$body-link-color: #8D88B9 !default;
$blockquote-text-color: #bcb6c3 !default;
$off-white: #fafafa !default;

// Background
$nav-hover: #514c59 !default;
$bg-color: #433d4c !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #625682 !default;

// Borders
$border-color: #eddcf0 !default;
$table-border-color: #ebe9ec !default;
$hr-border-color: #f1eff1 !default;
